@{
    ViewBag.Title = "Info minu kohta";
}
<style>
    .gaga {
        font-family: Arial, sans-serif;
        font-size: 24px;
    }

    .purple-background {
        background-color: #E6E6FA; 
        color: black; 
        font-size: 36px; 
    }
</style>
<h2 class="gaga">@ViewBag.Title.</h2>
<h3 class="gaga">@ViewBag.Message</h3>

<div class="purple-background">
    <p>Väga armastan muusikat kuulata!</p>
</div>
