@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Birthday Street<br />
    Tallinn, Estonia 12345<br />
    <abbr title="Phone">P:</abbr>
    +372 1234 5678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@maemadtandota.ee">support@maemadtandota.ee</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@maemadtandota.ee">marketing@maemadtandota.ee</a>
</address>