@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PIDU REGESTRATION</h1>
    <p class="lead">
        @ViewBag.Greeting<br />
        Tundub, et teie taotluses võib olla trükiviga. Kas te pidasite silmas "sünnipäeva agentuuri"?<br />
        Kui jah, siin on lühike ülevaade:<br />

        Sünnipäeva agentuuri nimi: Birthday Bliss<br />

        Missioon: Muuta iga sünnipäev eriliseks ja meeldejäävaks.<br />

        Pakutavad teenused:<br />
        - Sündmuste planeerimine<br />
        - Teemakujundus<br />
        - Koha valik<br />
        - Meelelahutus<br />
        - Toitlustamine<br />
        - Kaunistused<br />
    </p>


</div>

